@font-face {
    font-family: 'Avenir Next';
    src: url('/assets/fonts/AvenirNextLTPro.ttf'), url('/assets/fonts/AvenirNextLTPro.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/assets/fonts/AvenirNextLTPro-Demi.otf'), url('/assets/fonts/AvenirNextLTProDemi.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/assets/fonts/AvenirNextLTPro-Bold.otf'), url('/assets/fonts/AvenirNextLTProBold.ttf');
    font-weight: 700;
}