@import './variables';
@mixin mobile-btnLarge {
    @media (min-width: $mobile-size-min) {
        width: 75%;
    }
}

//heading and image width
@mixin tablet-heading {
    @media (min-width: $table-size-min) and (max-width: $table-size-max) {
        width: 150%;
    }
}

@mixin desktop-heading {
    @media (min-width: $destop-size) {
        width: 150%;
    }
}

//fotter logo
@mixin tablet-footerLogo {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        width: 150%;
    }
}

//
@mixin tablet-layout {
    @media (min-width: $table-size-min) and (max-width: $table-size-max) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 2.5rem;
    }
}

@mixin tablet-layout1 {
    @media (min-width: $table-size-min) and (max-width: $table-size-max) {
        width: auto;
        padding-top: 24px;
        padding-left: 2.0rem;
    }
}

@mixin tablet-layout2 {
    @media (min-width: $table-size-min) and (max-width: $table-size-max) {
        width: auto;
        font-size: 14px;
        margin-right: 24px;
        padding-bottom: 24px;
        font-weight: 600;
    }
}

@mixin tablet-layout3 {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        padding-left: 2rem;
        font-size: 60px;
    }
}

@mixin tablet-layout4 {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        padding-left: 2.25rem;
        padding-right: 2.25rem;
    }
}

@mixin tablet-layout5 {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        font-size: 60px;
        padding-bottom: 2rem;
    }
}

@mixin tablet-layout6 {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        min-width: 80%;
        align-self: center;
        font-size: 24px;
        line-height: 32px;
    }
}

@mixin tablet-layout7 {
    @media (min-width: $table-size-min) {
        font-size: 24px;
        line-height: 18px;
        font-weight: 600;
        padding-top: 2.5rem;
        margin-left: 1rem;
    }
}

@mixin tablet-layout8 {
    @media (min-width: $table-size-min) {
        margin: 0 10%;
        display: flex;
    }
}

@mixin tablet-layout9 {
    @media (min-width: $table-size-min) {
        justify-content: space-between;
    }
}

@mixin tablet-layout10 {
    @media (min-width: $table-size-min) {
        font-size: 14px;
        font-weight: 400;
        padding-right: 2rem;
        position: relative;
        right: 3.5rem;
        line-height: 22px;
    }
}

@mixin tablet-layout11 {
    @media (min-width: $table-size-min) {
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 150vw;
    }
}

@mixin tablet-layout12 {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
    }
}

@mixin tablet-layout13 {
    @media (min-width: $table-size-min) {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

@mixin tablet-layout14 {
    @media (min-width: $table-size-min) {
        width: calc(33.33% - 48px);
        padding-bottom: 1.5rem;
    }
}

@mixin tablet-container {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        position: relative;
        width: 70vw;
        top: 4rem;
        left: 3rem;
    }
}

@mixin tablet-album {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        position: relative;
        top: 20rem;
        min-height: 150px;
        left: 2rem;
        width: 60vw !important;
    }
}

@mixin tablet-header {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        font-size: 36px;
        font-weight: 400;
        line-height: 32px;
    }
}

@mixin tablet-header1 {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        font-size: 60px;
        font-weight: 600;
    }
}

@mixin tablet-commentForm {
    @media (min-width: $table-size-min) {
        padding-left: 3rem;
        font-size: 24px;
        line-height: 44px;
        font-weight: 600;
    }
}

@mixin tablet-commentName {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        padding-left: 8rem;
        bottom: 12rem;
    }
}

// @mixin mobile-commentName {
//     @media (min-width: $mobile-size-max) {}
// }
// @mixin mobile-comment {
//     @media (min-width: $mobile-size-max) {
//         position: relative;
//     }
// }
@mixin mobile-commentBtn {
    @media (min-width: $table-size-min) {
        position: relative;
        top: 4.5rem;
        left: 8rem;
    }
}

@mixin mobile-img {
    @media (min-width: $table-size-min) {
        position: relative;
        bottom: 3rem;
    }
}

@mixin tablet-commentNameInput {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        width: 650%;
    }
}

@mixin tablet-comment {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        padding-left: 8rem;
        position: relative;
        top: 5rem;
        right: 16rem;
    }
}

@mixin tablet-commentTextArea {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        width: 650%;
        height: 200px;
    }
}

@mixin tablet-img {
    @media (min-width: $table-size-min) and (max-width: $destop-size) {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 6rem;
    }
}

@mixin tablet-btn {
    @media (min-width: $table-size-min) {
        width: 250px;
        position: relative;
        top: 4rem;
        left: 18.5rem;
    }
}

@mixin desktop-btn {
    @media (min-width: 1024px) {
        width: 250px;
        position: relative;
        top: 8rem;
        left: -11.5rem;
    }
}

@mixin tablet-showsHeader {
    @media (min-width: $table-size-min) {
        flex-direction: row;
        justify-content: flex-start;
        visibility: hidden;
    }
}

@mixin tablet-showsHeaderDisplay {
    @media (min-width: $table-size-min) {
        visibility: visible;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 4rem;
        // right: 7.5rem;
        color: #AFAFAF;
        font-size: 14px;
        font-weight: 400;
    }
}

@mixin desktop-showsHeaderDisplay {
    @media (min-width: $destop-size) {
        visibility: visible;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 4rem;
        // right: 7.5rem;
        color: #AFAFAF;
        font-size: 14px;
        font-weight: 400;
    }
}

@mixin tablet-showsHeaderDate {
    @media (min-width: $table-size-min) {
        margin-left: 1rem;
    }
}

@mixin tablet-showsHeaderVenu {
    @media (min-width: $table-size-min) {
        margin-left: 9rem;
    }
}

@mixin tablet-showsHeaderLocation {
    @media (min-width: $table-size-min) {
        margin-left: 6.5rem;
    }
}

@mixin tablet-showsBody {
    @media (min-width: $table-size-min) {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        width: 100%;
    }
}

@mixin tablet-showsBodyContent {
    @media (min-width: $table-size-min) {
        line-height: 24px;
        border-bottom: 1px solid #AFAFAF;
        width: 100%;
    }
}

@mixin tablet-showsBodyDate {
    @media (min-width: $table-size-min) {
        padding: 0.5rem;
        bottom: 1rem;
        margin-left: .5rem;
        white-space: nowrap;
        left: 8rem;
    }
}

@mixin tablet-showsBodyVenu {
    @media (min-width: $table-size-min) {
        bottom: 1rem;
        margin-left: 5.5rem;
        white-space: nowrap;
        left: 5.5rem;
    }
}

@mixin tablet-showsBodyLocation {
    @media (min-width: $table-size-min) {
        bottom: 1rem;
        margin-left: 5.5rem;
        white-space: nowrap;
        left: 6rem;
    }
}

@mixin tablet-showsBodyButton {
    @media (min-width: $table-size-min) {
        padding: 0.5rem;
        position: relative;
        bottom: 1.5rem;
        margin-left: 5.5rem;
        width: 150px;
        left: 1rem;
    }
}

@mixin desktop-layout {
    @media (min-width: $destop-size) {
        padding-left: 10%;
    }
}

@mixin desktop-layout2 {
    @media (min-width: $destop-size) {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@mixin desktop-layout3 {
    @media (min-width: $destop-size) {
        padding-left: 10%;
        padding-right: 10%;
    }
}