$Mobile-size-min:320x;
$Mobile-size-max:767x;
$table-size-min:768px;
$table-size-max:1279px;
$destop-size:1280px;
$header-background: #323232;
$secondary-background: #fafafa;
$text-color: #FFFFFF;
$font-dt-header:60px;
$font-dt-section-header:36px;
$font-dt-subsection-header:24px;
$font-dt-body-footer:14px;
$font-dt-button-labels:12px;
$font-m-header-secheader:24px;
$font-m-subsec-header:14px;
$font-m-body-footer:13px;
$font-m-button-labels:10px;