    @use './partials/variables';
    @use './partials/font';
    @use './partials/mixin' as *;
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Avenir Next';
    }
    
     ::placeholder {
        color: black;
        font-size: 14px;
        opacity: 1;
    }
    
    .heading {
        background-color: #323232;
        width: 100%;
        @include tablet-heading;
        @include desktop-heading;
    }
    
    .menu {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include tablet-layout;
        @include desktop-layout;
        &__logo {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            height: auto;
            width: 150px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include tablet-layout;
            &--img {
                width: 100%;
                height: auto;
                margin: 0 auto;
                position: relative;
                right: 3rem;
            }
        }
        &__list {
            display: flex;
            list-style: none;
            width: 100%;
            justify-content: space-between;
            @include tablet-layout1;
        }
        &__item {
            display: flex;
            // font-size: 24px;
            line-height: 18px;
            // font-weight: 600;
            width: 40%;
            padding-bottom: 0.5rem;
            border-bottom: 2px solid white;
            @include tablet-layout2;
        }
        &__item2 {
            display: flex;
            width: 50%;
            padding-bottom: 8px;
            // font-size: 24px;
            line-height: 18px;
            // font-weight: 400;
            @include tablet-layout2;
            &:hover {
                color: #FFFFFF;
                border-bottom: 2px solid white;
            }
        }
        &__link {
            display: block;
            color: $text-color;
            text-decoration: none;
            margin: 0 auto;
        }
        &__link2 {
            display: block;
            color: $text-color;
            text-decoration: none;
            transition-duration: 0.3s;
            &:hover {
                color: #FFFFFF;
            }
        }
    }
    
    .band {
        display: flex;
        align-items: center;
        height: 50vw;
        background: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url('../assets/images/hero-bio.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        @include tablet-heading;
        @include desktop-heading;
        &__header {
            font-size: 24px;
            color: #FFFFFF;
            padding-left: 2rem;
            position: relative;
            @include tablet-layout3;
            @include desktop-layout;
        }
    }
    
    .section {
        display: flex;
        color: #FFFFFF;
        padding: 1.5rem 1rem;
        @include tablet-layout4;
        @include desktop-layout2;
        &__heading1 {
            font-size: 24px;
            font-weight: 600;
            padding-bottom: 1rem;
            color: #323232;
            @include tablet-layout5;
        }
        &__img {
            @include tablet-layout6;
            height: 58vw;
            width: 100%;
        }
        &__para1 {
            font-size: 13px;
            font-weight: 600;
            line-height: 1.5rem;
            color: #323232;
            @include tablet-layout6;
            overflow-wrap: break-word;
        }
        &__auth {
            font-size: 13px;
            font-weight: 600;
            line-height: 1.5rem;
            color: #323232;
            @include tablet-layout6;
        }
        &__heading2 {
            font-size: 13px;
            line-height: 18px;
            color: #323232;
            font-weight: 600;
            letter-spacing: .5px;
            line-height: 4rem;
            @include tablet-layout7;
        }
        &__content2 {
            @include tablet-layout8;
        }
        &__para-content {
            color: #323232;
            padding-top: 1rem;
            @include tablet-layout9;
        }
        &__para2 {
            font-size: 13px;
            font-weight: 400;
            color: #323232;
            line-height: 18px;
            @include tablet-layout10;
        }
        &__text {
            font-size: 13px;
            font-weight: 400;
            padding-bottom: 1rem;
            line-height: 18px;
            @media (min-width: $table-size-min) {
                font-size: 14px;
                font-weight: 400;
                padding-right: 18px;
                padding-bottom: 0;
                line-height: 22px;
            }
        }
    }
    
    .photos {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem 1rem 1rem;
        justify-content: space-evenly;
        color: #323232;
        width: 150vw;
        background-color: #f6f6f6;
        @include tablet-layout11;
        &__heading {
            font-size: 24px;
            font-weight: 600;
            line-height: 32px;
            @include tablet-layout12;
        }
        &__imgs {
            display: flex;
            flex-direction: column;
            width: 110vw;
            @include tablet-layout13;
        }
        &__images {
            filter: grayscale(100%);
            padding-bottom: 1rem;
            @include tablet-layout14;
            &:hover {
                filter: grayscale(0%);
                cursor: pointer;
            }
        }
    }
    
    label {
        display: inline-block;
        width: 200px;
    }
    
    .comment-form {
        padding: 1rem;
        margin-bottom: 10px;
        width: 100%;
        height: 22rem;
        &__header {
            padding-bottom: 2rem;
            font-size: 24px;
            font-weight: 600;
            @include tablet-commentForm;
        }
        &__name {
            position: relative;
            bottom: 1rem;
            line-height: 1.5rem;
            left: 1rem;
            color: #AFAFAF;
            font-size: 14px;
            font-weight: 600;
            @include tablet-commentName;
            &--input {
                padding: 10px;
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: 1.5px solid #E1E1E1;
                @include tablet-commentNameInput;
            }
        }
        &__comment {
            margin-left: 4.5rem;
            line-height: 1.5rem;
            color: #AFAFAF;
            font-size: 14px;
            font-weight: 600;
            @include tablet-comment;
            &--textArea {
                padding: 10px;
                width: 100%;
                height: 100%;
                border-radius: 5px;
                border: 1.5px solid #E1E1E1;
                @include tablet-commentTextArea;
            }
        }
        &__image {
            border-radius: 100%;
            width: 50px;
            height: 50px;
            @include tablet-img;
            @include mobile-img;
        }
        &__btn {
            margin-left: 4.5rem;
            font-size: 18px;
            padding: 10px;
            border: black solid 1px;
            border-radius: 5px;
            background-color: black;
            font-weight: 600;
            color: white;
            margin-top: 1rem;
            width: 100%;
            height: 50px;
            @include mobile-btnLarge;
            @include tablet-btn;
            // @include mobile-form;
        }
    }
    
    .container {
        margin: 1rem;
        @include tablet-container;
        &__commentBox {
            padding: 1%;
            border-bottom: 1px solid #AFAFAF;
            border-top: 1px solid #AFAFAF;
            @include tablet-container;
        }
        &__leftPanelImg {
            float: left;
            margin-top: 1rem;
            &--img {
                border-radius: 100%;
                width: 50px;
                height: 50px;
            }
        }
        &__rightPanel {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--name {
                color: #000;
                margin: 1rem;
                font-weight: 600;
                white-space: nowrap;
            }
        }
        &__comment {
            padding: 3%;
            display: flex;
        }
        &__button {
            display: flex;
            justify-content: space-between;
            &--img {
                padding: 3%;
            }
            &--like {
                padding: .5rem;
            }
            &--count {
                padding: .5rem 0rem;
            }
        }
        &__like {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 1rem 1rem 1rem;
        background-color: #323232;
        color: #FFFFFF;
        width: 100%;
        @include tablet-heading;
        @include desktop-heading;
        @media(min-width: $table-size-min) {
            display: flex;
            padding: 1rem 3rem;
            position: relative;
            top: 5rem;
        }
        &__main {
            @media(min-width: $destop-size) {
                padding: 1rem 3rem;
            }
        }
        &__social {
            @media(min-width: $table-size-min) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 1rem;
            }
        }
        &__header {
            display: flex;
            justify-content: flex-start;
            @media(min-width: $table-size-min) {
                font-size: 36px;
                font-weight: 700;
                line-height: 44px;
                white-space: nowrap;
            }
        }
        &__social-links {
            padding-top: 1rem;
            @media(min-width: $table-size-min) and (max-width: $destop-size) {
                padding: 2rem;
                /* position: relative; */
                /* left: 4rem; */
                display: flex;
            }
            &--img1 {
                @media(min-width: $table-size-min) {
                    padding-right: 0rem;
                }
            }
            &--img2 {
                position: relative;
                left: 1rem;
                @media(min-width: $table-size-min) {
                    padding-right: 0rem;
                    position: relative;
                    right: 15rem;
                }
            }
            &--img3 {
                position: relative;
                left: 2rem;
                @media(min-width: $table-size-min) {
                    padding-right: 0rem;
                    position: relative;
                    right: 10rem;
                }
            }
        }
        &__logo {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            height: auto;
            width: 150px;
            margin-top: 1rem;
            @include tablet-footerLogo;
            &--change {
                position: relative;
                top: 29rem;
                @media(min-width: $table-size-min) and (max-width: $destop-size) {
                    padding: 2rem 20rem;
                    position: relative;
                    top: 0rem;
                    font-size: 14px;
                }
            }
        }
        &__address {
            //white-space: nowrap;
            @media(min-width: $table-size-min) {
                padding-bottom: 1rem;
            }
            &--email {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
        &__address1 {
            @media(min-width: $table-size-min) {
                padding-right: 1rem;
            }
        }
        &__address2 {
            @media(min-width: $table-size-min) {
                padding-right: 15rem;
            }
        }
        &__space {
            padding-top: 2rem;
            font-weight: 400;
            font-size: 12px;
            white-space: nowrap;
            line-height: 5rem;
            @media(min-width: $table-size-min) and (max-width: $destop-size) {
                font-size: 16px;
                font-weight: 500;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media(min-width: $table-size-min) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                line-height: 18px;
            }
            &--email {
                text-decoration: none;
                color: #FFFFFF;
            }
        }
    }